*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 3px !important;
    width: 100% !important;
}
.header-section{
    background-color: skyblue;
    height: 100px;
    outline: 3px solid white;
    outline-offset: -10px;
    position: fixed;
    top: 0;
    width:100%
}
.navigation-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listed{
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 30px;
}
.listed li{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
}
.listed li a{
    text-decoration: none;
    color: white;
} 


/* main-section */
.main-section{
    margin: 10px;
}
.display-1{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}
.display-2{
    color: skyblue;
    display: block;
    padding-left: 100px;
}
.hero-content{
    text-align: center;
    font: 20px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.resume-btn{
    display: block;
    position: absolute;
    top: 62%;
    left: 45%;
    font-size: 20px;
    border-left: 20px solid skyblue;
    padding: 10px;
    max-width: 150px;
    background-color: white;
    outline: 3px solid skyblue;
    transition: 0.6s ease-in-out;
    animation: color-glow 3s ease-in-out infinite alternate; 
}
.resume-btn:hover{
    background-color: skyblue;
    border: 4px solid black;
    outline: 3px solid white;
    outline-offset: -2px;
    
}
.resume-btn a{
    text-decoration: none;
    color: skyblue;
}
.social-section{
    position: absolute;
    top: 120px;
    border: 3px solid skyblue;
    border-radius: 30px;
    padding: 10px;
    height: 200px;
    width: 60px;
    margin: 10px;
}

.whatsapp,.linkedin,.github{
    padding-top: 10px;
}
/* about */

.about-section{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 520px;
    background-color: skyblue;
    padding: 10px;
    box-shadow: 0px 0px 15px skyblue;
}
.about-section h2{
    text-align: center;
    text-decoration: underline;
}
.about-section h3{
    text-align: center;
}
.about-section p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    letter-spacing: 1px;
    text-indent: 50px;
}
/* project */

.project-section{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 900px;
    flex-wrap: wrap;
}
.project-section h2{
    text-decoration: underline;
    padding-left: 700px;
}
.project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    gap: 20px;
    padding: 20px;
    gap: 30px;
    justify-content: space-between;
}
.project1{
    background-color: skyblue;
    padding: 20px;
    box-shadow: 0px 0px 15px skyblue;
    border: 3px solid black;
    border-radius: 20px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.project1 img{
    width: 350px;
    height: 200px;
    padding-left: 5px;
    border-radius: 20px;
}
.project1 img:hover{
    transform: scale(0.8);
    transition: 0.5s;
    outline: 3px solid white;
    outline-offset: 20px ;
    border: 30px solid plum;
}
.project1 p{
    max-width: 350px;
}

.project2{
    background-color: skyblue;
    padding: 20px;
    box-shadow: 0px 0px 15px skyblue;
    border: 3px solid black;
    border-radius: 20px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.project2 img{
    width: 350px;
    height: 200px;
    padding-left: 5px;
    border-radius: 20px;
}.project2 img:hover{
    transform: scale(0.8);
    transition: 0.5s;
    outline: 3px solid white;
    outline-offset: 20px ;
    border: 30px solid plum;
}
.project2 p{
    max-width: 350px;
}

.project3{
    background-color: skyblue;
    padding: 20px;
    box-shadow: 0px 0px 15px skyblue;
    border: 3px solid black;
    border-radius: 20px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.project3 img{
    width: 350px;
    height: 200px;
    padding-left: 5px;
    border-radius: 20px;
}
.project3 img:hover{
    transform: scale(0.8);
    transition: 0.5s;
    outline: 3px solid white;
    outline-offset: 20px ;
    border: 30px solid plum;
}
.project3 p{
    max-width: 350px;
}

.project4{
    background-color: skyblue;
    padding: 20px;
    box-shadow: 0px 0px 15px skyblue;
    border: 3px solid black;
    border-radius: 20px;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.project4 img{
    width: 350px;
    height: 200px;
    padding-left: 5px;
    border-radius: 20px;
}
.project4 img:hover{
    transform: scale(0.8);
    transition: 0.5s;
    outline: 3px solid white;
    outline-offset: 20px ;
    border: 30px solid plum;
}
.project4 p{
    max-width: 350px;
}

/* contact */
.contact-section{
    position: relative;
    top: 1600px;
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    height: 200px;
    width: 100%;
    padding: 100px;
}
.contact-section h2{
    text-decoration: underline;
    padding-left: 600px;
}
.contact-section a{
    text-decoration: none;
    padding-left: 620px;
}
/* footer */
.footer{
    background-color: grey;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 2130px;
    width: 100%;
}
@media screen and (max-width:552px){
    .project{
        display: flex;
        flex-direction: column;
        transform: scale(0.8);
    }
    
}
@keyframes move {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
    
}